<br><br>

<!--/ Section Portfolio Star /-->
<section id="work" class="portfolio-mf sect-pt4 route">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="title-box text-center">
                    <h3 class="title-a">
                        Elegir ciudades:
                    </h3>
                    <p class="subtitle-a">
                        Para encontrar la ruta optima
                    </p>
                    <div class="line-mf"></div>
                </div>
            </div>
        </div>

        <form [formGroup]="cityForm" (ngSubmit)="submit()">
            <div class="row">
                <!-- DE EJEMPLO
      <div class="col-md-4">
        <div class="work-box">
          <a href="assets/img/work-1.jpg" data-lightbox="gallery-mf">
            <div class="work-img">
              <img src="assets/img/work-1.jpg" alt="" class="img-fluid">
            </div>
            <div class="work-content">
              <div class="row">
                <div class="col-sm-8">
                  <h2 class="w-title">Lorem impsum dolor</h2>
                  <div class="w-more">
                    <span class="w-ctegory">Web Design</span> / <span class="w-date">18 Sep. 2018</span>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="w-like">
                    <span class="ion-ios-plus-outline"></span>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div> -->
                <div class="col-md-3" *ngFor="let city of citiesArray.controls; let i = index;">
                    <label class="" for="{{cityList[i].id}}">
                        <div class="work-box">
                            <div class="work-img">
                                <img src="{{cityList[i].imageUrl}}" alt="" class="img-fluid">
                            </div>
                            <div class="work-content">
                                <div class="row">
                                    <div class="col-sm-8">
                                        <h2 class="w-title">{{cityList[i].name}}</h2>
                                    </div>
                                </div>
                                <div class="custom-control custom-checkbox">
                                    <input type="checkbox" [formControl]="city" class="custom-control-input" id="{{cityList[i].id}}" (change)="getSelectedCities()">
                                    <label class="custom-control-label" for="{{cityList[i].id}}">Agregar ruta</label>
                                </div>
                            </div>
                        </div>
                    </label>
                </div>


            </div>
            <small class="form-text" *ngIf="selectedCityError">Seleccionar al menos una ciudad!</small> <br>
            <button type="submit" class="btn btn-primary" [disabled]="selectedCityError">Calcular ruta</button>
        </form>


    </div>
</section>
<!--/ Section Portfolio End /-->

<app-cities-results [results]="results"></app-cities-results>